- var siteName = "Ponto4U";
- var pageTitle;
block variables
doctype html
html(lang='pt-BR')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=yes')
        meta(name="keywords", content="Pomodoro, produtividade, gerenciamento de tempo, stress")
        meta(name="description", content="O Ponto4U tem como objetivo lhe ajudar a gerenciar melhor o seu tempo com técnicas modernas que lhe deixam mais produtivo e menos estressado")
        meta(copyright="Renato Luna")
        title #{siteName} - #{pageTitle}
        meta(property="og:site_name", content="#{siteName}")
        meta(property="og:title", content="#{pageTitle}")
        meta(property="og:locale", content="pt_BR")
        link(rel="shortcut icon", href="/favicon.ico")
        link(rel="icon", sizes="16x16 32x32 64x64", href="/favicon.ico")
        link(rel="icon", type="image/png" sizes="196x196", href="/favicon-192.png")
        link(rel="icon", type="image/png" sizes="160x160", href="/favicon-160.png")
        link(rel="icon", type="image/png" sizes="96x96", href="/favicon-96.png")
        link(rel="icon", type="image/png" sizes="64x64", href="/favicon-64.png")
        link(rel="icon", type="image/png" sizes="32x32", href="/favicon-32.png")
        link(rel="icon", type="image/png" sizes="16x16", href="/favicon-16.png")
        link(rel="apple-touch-icon", href="/favicon-57.png")
        link(rel="apple-touch-icon", sizes="114x114", href="/favicon-114.png")
        link(rel="apple-touch-icon", sizes="72x72", href="/favicon-72.png")
        link(rel="apple-touch-icon", sizes="144x144", href="/favicon-144.png")
        link(rel="apple-touch-icon", sizes="60x60", href="/favicon-60.png")
        link(rel="apple-touch-icon", sizes="120x120", href="/favicon-120.png")
        link(rel="apple-touch-icon", sizes="76x76", href="/favicon-76.png")
        link(rel="apple-touch-icon", sizes="152x152", href="/favicon-152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="/favicon-180.png")
        meta(name="msapplication-TileColor", content="#FFFFFF")
        meta(name="msapplication-TileImage", content="/favicon-144.png")
        meta(name="msapplication-config", content="/browserconfig.xml")
        link(href='main.css', rel='stylesheet', type='text/css')
    body
        header
            #logo
                a.logo(href='http://ponto4u.com.br/', title='ponto4u logo')
                    #logo-circle
                        #logo-number 4
                        #logo-name #{siteName}
        nav
            ul(id="menu")
                li
                    a(href="/pomodoro.html") Pomodoro!
                li
                    a(id="5-min-trigger") Intervalo
                li
                    a(href="/index.html") O que é?
        block content
        noscript
            iframe(src='//www.googletagmanager.com/ns.html?id=GTM-MNF7KX', height='0', width='0', style='display:none;visibility:hidden')
        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-MNF7KX');
