- var siteName = "Ponto4U";
- var pageTitle;
block variables
doctype html
html(lang='pt-BR')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=yes')
        meta(name="keywords", content="Pomodoro, produtividade, gerenciamento de tempo, stress")
        meta(name="description", content="O Ponto4U tem como objetivo lhe ajudar a gerenciar melhor o seu tempo com técnicas modernas que lhe deixam mais produtivo e menos estressado")
        meta(copyright="Renato Luna")
        title #{siteName} - #{pageTitle}
        meta(property="og:site_name", content="#{siteName}")
        meta(property="og:title", content="#{pageTitle}")
        meta(property="og:locale", content="pt_BR")
        link(rel="apple-touch-icon", sizes="57x57", href="/apple-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="/apple-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="/apple-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="/apple-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="/apple-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="/apple-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="/apple-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="/apple-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-icon-180x180.png")
        link(rel="icon", type="image/png", sizes="192x192",  href="/android-icon-192x192.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="96x96", href="/favicon-96x96.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
        link(rel="manifest", href="/manifest.json")
        meta(name="msapplication-TileImage", content="/ms-icon-144x144.png")
        link(href='main.css', rel='stylesheet', type='text/css')
        block scripts
    body
        header
            #logo
                a.logo(href='http://ponto4u.com.br/', title='ponto4u logo')
                    #logo-circle
                        #logo-number 4
                        #logo-name #{siteName}
        nav
            ul(id="menu")
                li
                    a(href="/pomodoro.html") Pomodoro!
                li
                    a(id="5-min-trigger") Intervalo
                li
                    a(href="/index.html") O que é?
        block content
        noscript
            iframe(src='//www.googletagmanager.com/ns.html?id=GTM-MNF7KX', height='0', width='0', style='display:none;visibility:hidden')
        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-MNF7KX');
