- var siteName = "Ponto4U";
- var pageTitle;
block variables
doctype html
html(lang='pt-BR')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=yes')
        meta(name="keywords", content="Pomodoro, produtividade, gerenciamento de tempo, stress")
        meta(name="description", content="O Ponto4U tem como objetivo lhe ajudar a gerenciar melhor o seu tempo com técnicas modernas que lhe deixam mais produtivo e menos estressado")
        meta(copyright="Renato Luna")
        title #{siteName} - #{pageTitle}
        meta(property="og:site_name", content="#{siteName}")
        meta(property="og:title", content="#{pageTitle}")
        meta(property="og:locale", content="pt_BR")
        link(href='main.css', rel='stylesheet', type='text/css')
        block scripts
    body
        header
            #logo
                a.logo(href='http://ponto4u.com.br/', title='ponto4u logo')
                    #logo-circle
                        #logo-number 4
                        #logo-name #{siteName}
        nav
            ul(id="menu")
                li
                    a(id="pomodoro-trigger", href="/pomodoro.html") Pomodoro!
                li
                    a(id="5-min-trigger") Intervalo
                li
                    a(href="/index.html") O que é?
        block content
        noscript
            iframe(src='//www.googletagmanager.com/ns.html?id=GTM-MNF7KX', height='0', width='0', style='display:none;visibility:hidden')
        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-MNF7KX');
